<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAj2534Jiq5clfk5Hi6Jex2wJr3SqDv-q4</string>
	<key>GCM_SENDER_ID</key>
	<string>762152160697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWhatsappCloneFirebaseRiverpod</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-c80b4</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-c80b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762152160697:ios:8a1c528ddc515c62697a68</string>
</dict>
</plist>